development:
	site: http://some.redmine.com
	user: someuser
	password: somepass
test:
	site: http://some.redmine.com
	user: someuser
	password: somepass
production:
	site: http://some.redmine.com
	user: someuser
	password: somepass
	